@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

html {
    height: -webkit-fill-available;
    font-family: 'Outfit', sans-serif;
}

body {
    overflow: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/defaultBackground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1d3557;
    height: -webkit-fill-available;
    width: 100vw;
}

.mainCard {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 350px;
}

#card {
    position: relative;
    width: calc(100% - 4em);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFF;
    padding-left: 2em;
    padding-right: 2em;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.1);
}

#weatherIcon {
    width: 80%;
}

#temperature {
    font-size: 5em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5em;
}

#description {
    font-size: 1.1em;
    text-align: center;
    margin-top: 2em;
    text-wrap: wrap;
}

#inputCity {
    position: relative;
    z-index: 10;
    transition: all ease-in-out 150ms;
    width: calc(100% - 60px);
    font-size: small;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px 30px 15px 30px;
}

#inputCity:focus {
    outline: none;
    border-bottom: 1px solid white;
}

#inputCity::placeholder {
    transition: all ease-in-out 150ms;
    color: rgba(255, 255, 255, 0.75);
}

#inputCity:focus::placeholder {
    opacity: 0.1;
}

#submit {
    position: relative;
    z-index: 10;
    transition: all ease-in-out 150ms;
    font-size: 1.1em;
    display: flex;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    background: linear-gradient(90deg, #289FD1 0%, #28D1A9 100%);
}

#submit:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.decoration {
    position: absolute;
    z-index: -100;
    scale: 0.7;
}

@media only screen and (max-width: 600px) {
    .decoration {
        display: none;
    }
}

@media only screen and (min-width: 1600px) {
    .decoration {
        scale: 1;
    }

    .mainCard {
        width: 450px;
    }

    body {
        font-size: 1.5em;
    }
}