@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

html {
    height: -webkit-fill-available;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://cdn.pixabay.com/photo/2016/08/09/21/54/lake-1581879_960_720.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1d3557;
    min-height: -webkit-fill-available;
}

.mainCard {
    border: 1px solid gainsboro;
    color: white;
    width: 300px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.35);
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

#weatherIcon {
    width: 100%;
}

#temperature {
    font-size: 4em;
    text-align: center;
}
#description {
    font-size: 1.3em;
    text-align: center;
}
#inputCity {
    width: 80%;
    border-radius: 0px;
    font-family: 'Comfortaa', cursive;
    font-size: 1.2em;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    height: 40px;
    border: none;
    border-bottom: 1px solid gainsboro;
}
#inputCity:focus {
    outline: none;
}
#inputCity::placeholder {
    color: gainsboro;
}
#submit {
    transition: 0.3s;
    margin-top: 25px;
    text-align: center;
    color: aquamarine;
    background-color: rgb(0, 95, 95);
    height: 50px;
    width: 170px;
    line-height: 50px;
    border-radius: 25px;
    border: 1px solid aquamarine;
}

#submit:hover {
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

@media (min-width: 450px) and (min-height: 750px) {
    .mainCard {
        transform: scale(1.4);
    }
}
@media (min-width: 1000px) and (min-height: 1000px) {
    .mainCard {
        transform: scale(1.7);
    }
}
@media (min-width: 1000px) and (min-height: 1300px) {
    .mainCard {
        transform: scale(2);
    }
}
